# Data insertion

In [1]:
from pymongo import MongoClient

In [2]:
# Connection URI for MongoDB Atlas
uri = "mongodb+srv://followalong:Password123@cluster0.jcdn2.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

In [3]:
# Connect to MongoDB Atlas
client = MongoClient(uri)

# Select the database and collection
db = client["movie_recommendation"]  # Database name
movies_collection = db["movies"]
users_collection = db["users"]

In [4]:
# Test the connection
print("Connected to MongoDB Atlas!")
print("Databases available:", client.list_database_names())

Connected to MongoDB Atlas!
Databases available: ['companyDB', 'ecommerceDB', 'employee_db', 'followalong', 'introduction', 'movie_recommendation', 'sample_airbnb', 'sample_analytics', 'sample_geospatial', 'sample_guides', 'sample_mflix', 'sample_restaurants', 'sample_supplies', 'sample_training', 'sample_weatherdata', 'serviceDB', 'soham', 'universityDB', 'workDB', 'admin', 'local']

In [12]:
# Insert movie data
sample_movies = [
    {"_id": 1, "title": "Inception", "genre": "Sci-Fi", "actors": ["Leonardo DiCaprio", "Joseph Gordon-Levitt"]},
    {"_id": 2, "title": "The Dark Knight", "genre": "Action", "actors": ["Christian Bale", "Heath Ledger"]},
    {"_id": 3, "title": "Interstellar", "genre": "Sci-Fi", "actors": ["Matthew McConaughey", "Anne Hathaway"]},
    {"_id": 4, "title": "The Shawshank Redemption", "genre": "Drama", "actors": ["Tim Robbins", "Morgan Freeman"]},
    {"_id": 5, "title": "The Godfather", "genre": "Crime", "actors": ["Marlon Brando", "Al Pacino"]},
    {"_id": 6, "title": "Pulp Fiction", "genre": "Crime", "actors": ["John Travolta", "Uma Thurman"]},
    {"_id": 7, "title": "The Matrix", "genre": "Sci-Fi", "actors": ["Keanu Reeves", "Laurence Fishburne"]},
    {"_id": 8, "title": "Forrest Gump", "genre": "Drama", "actors": ["Tom Hanks", "Robin Wright"]},
    {"_id": 9, "title": "Fight Club", "genre": "Drama", "actors": ["Brad Pitt", "Edward Norton"]},
    {"_id": 10, "title": "Avatar", "genre": "Fantasy", "actors": ["Sam Worthington", "Zoe Saldana"]},
    {"_id": 11, "title": "Titanic", "genre": "Romance", "actors": ["Leonardo DiCaprio", "Kate Winslet"]},
    {"_id": 12, "title": "Gladiator", "genre": "Action", "actors": ["Russell Crowe", "Joaquin Phoenix"]},
    {"_id": 13, "title": "The Avengers", "genre": "Action", "actors": ["Robert Downey Jr.", "Chris Evans"]},
    {"_id": 14, "title": "The Lion King", "genre": "Animation", "actors": ["Matthew Broderick", "James Earl Jones"]},
    {"_id": 15, "title": "Saving Private Ryan", "genre": "War", "actors": ["Tom Hanks", "Matt Damon"]},
    {"_id": 16, "title": "Joker", "genre": "Drama", "actors": ["Joaquin Phoenix", "Robert De Niro"]},
    {"_id": 17, "title": "The Lord of the Rings: The Fellowship of the Ring", "genre": "Fantasy", "actors": ["Elijah Wood", "Ian McKellen"]},
    {"_id": 18, "title": "Star Wars: A New Hope", "genre": "Sci-Fi", "actors": ["Mark Hamill", "Harrison Ford"]},
    {"_id": 19, "title": "Black Panther", "genre": "Action", "actors": ["Chadwick Boseman", "Michael B. Jordan"]},
    {"_id": 20, "title": "Spider-Man: No Way Home", "genre": "Action", "actors": ["Tom Holland", "Zendaya"]},
]

movies_collection.insert_many(sample_movies)

' sample_movies = [\n    {"_id": 1, "title": "Inception", "genre": "Sci-Fi", "actors": ["Leonardo DiCaprio", "Joseph Gordon-Levitt"]},\n    {"_id": 2, "title": "The Dark Knight", "genre": "Action", "actors": ["Christian Bale", "Heath Ledger"]},\n    {"_id": 3, "title": "Interstellar", "genre": "Sci-Fi", "actors": ["Matthew McConaughey", "Anne Hathaway"]},\n    {"_id": 4, "title": "The Shawshank Redemption", "genre": "Drama", "actors": ["Tim Robbins", "Morgan Freeman"]},\n    {"_id": 5, "title": "The Godfather", "genre": "Crime", "actors": ["Marlon Brando", "Al Pacino"]},\n    {"_id": 6, "title": "Pulp Fiction", "genre": "Crime", "actors": ["John Travolta", "Uma Thurman"]},\n    {"_id": 7, "title": "The Matrix", "genre": "Sci-Fi", "actors": ["Keanu Reeves", "Laurence Fishburne"]},\n    {"_id": 8, "title": "Forrest Gump", "genre": "Drama", "actors": ["Tom Hanks", "Robin Wright"]},\n    {"_id": 9, "title": "Fight Club", "genre": "Drama", "actors": ["Brad Pitt", "Edward Norton"]},\n    {"_id": 10, "title": "Avatar", "genre": "Fantasy", "actors": ["Sam Worthington", "Zoe Saldana"]},\n    {"_id": 11, "title": "Titanic", "genre": "Romance", "actors": ["Leonardo DiCaprio", "Kate Winslet"]},\n    {"_id": 12, "title": "Gladiator", "genre": "Action", "actors": ["Russell Crowe", "Joaquin Phoenix"]},\n    {"_id": 13, "title": "The Avengers", "genre": "Action", "actors": ["Robert Downey Jr.", "Chris Evans"]},\n    {"_id": 14, "title": "The Lion King", "genre": "Animation", "actors": ["Matthew Broderick", "James Earl Jones"]},\n    {"_id": 15, "title": "Saving Private Ryan", "genre": "War", "actors": ["Tom Hanks", "Matt Damon"]},\n    {"_id": 16, "title": "Joker", "genre": "Drama", "actors": ["Joaquin Phoenix", "Robert De Niro"]},\n    {"_id": 17, "title": "The Lord of the Rings: The Fellowship of the Ring", "genre": "Fantasy", "actors": ["Elijah Wood", "Ian McKellen"]},\n    {"_id": 18, "title": "Star Wars: A New Hope", "genre": "Sci-Fi", "actors": ["Mark Hamill", "Harrison Ford"]},\n    {"_id": 19, "title": "Black Panther", "genre": "Action", "actors": ["Chadwick Boseman", "Michael B. Jordan"]},\n    {"_id": 20, "title": "Spider-Man: No Way Home", "genre": "Action", "actors": ["Tom Holland", "Zendaya"]},\n]\n\nmovies_collection.insert_many(sample_movies) '

In [5]:
# Add more movies to MongoDB
new_movies = [
    {"_id": 21, "title": "Dune", "genre": "Sci-Fi", "actors": ["Timothée Chalamet", "Zendaya"]},
    {"_id": 22, "title": "Mad Max: Fury Road", "genre": "Action", "actors": ["Tom Hardy", "Charlize Theron"]},
    {"_id": 23, "title": "The Martian", "genre": "Sci-Fi", "actors": ["Matt Damon", "Jessica Chastain"]},
    {"_id": 24, "title": "John Wick", "genre": "Action", "actors": ["Keanu Reeves"]},
    {"_id": 25, "title": "Blade Runner 2049", "genre": "Sci-Fi", "actors": ["Ryan Gosling", "Harrison Ford"]},
    {"_id": 26, "title": "Thor: Ragnarok", "genre": "Action", "actors": ["Chris Hemsworth", "Tom Hiddleston"]},
    {"_id": 27, "title": "Gravity", "genre": "Sci-Fi", "actors": ["Sandra Bullock", "George Clooney"]},
    {"_id": 28, "title": "The Equalizer", "genre": "Action", "actors": ["Denzel Washington"]},
]

# Insert new movies into the movies collection
movies_collection.insert_many(new_movies)
print("New movies added to MongoDB.")

New movies added to MongoDB.

In [13]:
# Add more movies to MongoDB
additional_movies = [
    # Sci-Fi Movies
    {"_id": 29, "title": "Arrival", "genre": "Sci-Fi", "actors": ["Amy Adams", "Jeremy Renner"]},
    {"_id": 30, "title": "Ex Machina", "genre": "Sci-Fi", "actors": ["Alicia Vikander", "Oscar Isaac"]},
    {"_id": 31, "title": "The Fifth Element", "genre": "Sci-Fi", "actors": ["Bruce Willis", "Milla Jovovich"]},
    {"_id": 32, "title": "Edge of Tomorrow", "genre": "Sci-Fi", "actors": ["Tom Cruise", "Emily Blunt"]},
    {"_id": 33, "title": "Minority Report", "genre": "Sci-Fi", "actors": ["Tom Cruise", "Colin Farrell"]},

    # Action Movies
    {"_id": 34, "title": "Die Hard", "genre": "Action", "actors": ["Bruce Willis", "Alan Rickman"]},
    {"_id": 35, "title": "Taken", "genre": "Action", "actors": ["Liam Neeson", "Maggie Grace"]},
    {"_id": 36, "title": "Speed", "genre": "Action", "actors": ["Keanu Reeves", "Sandra Bullock"]},
    {"_id": 37, "title": "Casino Royale", "genre": "Action", "actors": ["Daniel Craig", "Eva Green"]},
    {"_id": 38, "title": "The Bourne Identity", "genre": "Action", "actors": ["Matt Damon", "Franka Potente"]},

    # Drama Movies
    {"_id": 39, "title": "The Pursuit of Happyness", "genre": "Drama", "actors": ["Will Smith", "Jaden Smith"]},
    {"_id": 40, "title": "The Green Mile", "genre": "Drama", "actors": ["Tom Hanks", "Michael Clarke Duncan"]},
    {"_id": 41, "title": "Schindler's List", "genre": "Drama", "actors": ["Liam Neeson", "Ralph Fiennes"]},
    {"_id": 42, "title": "The Social Network", "genre": "Drama", "actors": ["Jesse Eisenberg", "Andrew Garfield"]},
    {"_id": 43, "title": "Good Will Hunting", "genre": "Drama", "actors": ["Matt Damon", "Robin Williams"]},

    # Fantasy Movies
    {"_id": 44, "title": "Harry Potter and the Sorcerer's Stone", "genre": "Fantasy", "actors": ["Daniel Radcliffe", "Emma Watson"]},
    {"_id": 45, "title": "The Hobbit: An Unexpected Journey", "genre": "Fantasy", "actors": ["Martin Freeman", "Ian McKellen"]},
    {"_id": 46, "title": "Pan's Labyrinth", "genre": "Fantasy", "actors": ["Ivana Baquero", "Sergi López"]},
    {"_id": 47, "title": "The Chronicles of Narnia", "genre": "Fantasy", "actors": ["Georgie Henley", "Tilda Swinton"]},
    {"_id": 48, "title": "Stardust", "genre": "Fantasy", "actors": ["Claire Danes", "Charlie Cox"]},

    # Crime Movies
    {"_id": 49, "title": "The Departed", "genre": "Crime", "actors": ["Leonardo DiCaprio", "Matt Damon"]},
    {"_id": 50, "title": "Se7en", "genre": "Crime", "actors": ["Brad Pitt", "Morgan Freeman"]},
    {"_id": 51, "title": "Gone Girl", "genre": "Crime", "actors": ["Ben Affleck", "Rosamund Pike"]},
    {"_id": 52, "title": "The Usual Suspects", "genre": "Crime", "actors": ["Kevin Spacey", "Gabriel Byrne"]},
    {"_id": 53, "title": "Heat", "genre": "Crime", "actors": ["Al Pacino", "Robert De Niro"]},
]

# Insert new movies into MongoDB
movies_collection.insert_many(additional_movies)
print("New movies added to MongoDB.")

New movies added to MongoDB.

In [13]:
sample_users = [
    {"_id": 1, "name": "Alice Johnson", "email": "alice.j@example.com", "watched": [1, 2, 3]},
    {"_id": 2, "name": "Bob Smith", "email": "bob.s@example.com", "watched": [3, 4, 5]},
    {"_id": 3, "name": "Charlie Brown", "email": "charlie.b@example.com", "watched": [6, 7, 8]},
    {"_id": 4, "name": "Diana Prince", "email": "diana.p@example.com", "watched": [9, 10, 11]},
    {"_id": 5, "name": "Ethan Hunt", "email": "ethan.h@example.com", "watched": [12, 13, 14]},
    {"_id": 6, "name": "Fiona Carter", "email": "fiona.c@example.com", "watched": [15, 16, 17]},
    {"_id": 7, "name": "George Miller", "email": "george.m@example.com", "watched": [18, 19, 20]},
    {"_id": 8, "name": "Hannah Lee", "email": "hannah.l@example.com", "watched": [1, 4, 7]},
    {"_id": 9, "name": "Ian Wright", "email": "ian.w@example.com", "watched": [2, 5, 8]},
    {"_id": 10, "name": "Jessica Green", "email": "jessica.g@example.com", "watched": [3, 6, 9]},
    {"_id": 11, "name": "Kevin Adams", "email": "kevin.a@example.com", "watched": [10, 13, 16]},
    {"_id": 12, "name": "Laura King", "email": "laura.k@example.com", "watched": [11, 14, 17]},
    {"_id": 13, "name": "Michael Scott", "email": "michael.s@example.com", "watched": [12, 15, 18]},
    {"_id": 14, "name": "Nina Brooks", "email": "nina.b@example.com", "watched": [19, 20, 1]},
    {"_id": 15, "name": "Oscar Blake", "email": "oscar.b@example.com", "watched": [2, 3, 4]},
    {"_id": 16, "name": "Pamela Reed", "email": "pamela.r@example.com", "watched": [5, 6, 7]},
    {"_id": 17, "name": "Quincy Taylor", "email": "quincy.t@example.com", "watched": [8, 9, 10]},
    {"_id": 18, "name": "Rachel Adams", "email": "rachel.a@example.com", "watched": [11, 12, 13]},
    {"_id": 19, "name": "Steve Rogers", "email": "steve.r@example.com", "watched": [14, 15, 16]},
    {"_id": 20, "name": "Tina Brooks", "email": "tina.b@example.com", "watched": [17, 18, 19]},
]

users_collection.insert_many(sample_users)

' sample_users = [\n    {"_id": 1, "name": "Alice Johnson", "email": "alice.j@example.com", "watched": [1, 2, 3]},\n    {"_id": 2, "name": "Bob Smith", "email": "bob.s@example.com", "watched": [3, 4, 5]},\n    {"_id": 3, "name": "Charlie Brown", "email": "charlie.b@example.com", "watched": [6, 7, 8]},\n    {"_id": 4, "name": "Diana Prince", "email": "diana.p@example.com", "watched": [9, 10, 11]},\n    {"_id": 5, "name": "Ethan Hunt", "email": "ethan.h@example.com", "watched": [12, 13, 14]},\n    {"_id": 6, "name": "Fiona Carter", "email": "fiona.c@example.com", "watched": [15, 16, 17]},\n    {"_id": 7, "name": "George Miller", "email": "george.m@example.com", "watched": [18, 19, 20]},\n    {"_id": 8, "name": "Hannah Lee", "email": "hannah.l@example.com", "watched": [1, 4, 7]},\n    {"_id": 9, "name": "Ian Wright", "email": "ian.w@example.com", "watched": [2, 5, 8]},\n    {"_id": 10, "name": "Jessica Green", "email": "jessica.g@example.com", "watched": [3, 6, 9]},\n    {"_id": 11, "name": "Kevin Adams", "email": "kevin.a@example.com", "watched": [10, 13, 16]},\n    {"_id": 12, "name": "Laura King", "email": "laura.k@example.com", "watched": [11, 14, 17]},\n    {"_id": 13, "name": "Michael Scott", "email": "michael.s@example.com", "watched": [12, 15, 18]},\n    {"_id": 14, "name": "Nina Brooks", "email": "nina.b@example.com", "watched": [19, 20, 1]},\n    {"_id": 15, "name": "Oscar Blake", "email": "oscar.b@example.com", "watched": [2, 3, 4]},\n    {"_id": 16, "name": "Pamela Reed", "email": "pamela.r@example.com", "watched": [5, 6, 7]},\n    {"_id": 17, "name": "Quincy Taylor", "email": "quincy.t@example.com", "watched": [8, 9, 10]},\n    {"_id": 18, "name": "Rachel Adams", "email": "rachel.a@example.com", "watched": [11, 12, 13]},\n    {"_id": 19, "name": "Steve Rogers", "email": "steve.r@example.com", "watched": [14, 15, 16]},\n    {"_id": 20, "name": "Tina Brooks", "email": "tina.b@example.com", "watched": [17, 18, 19]},\n]\n\nusers_collection.insert_many(sample_users) '

In [7]:
# Testing to check if the data is inserted or not
# Fetch and print all movies
movies = movies_collection.find()
print("Movies in the collection:")
for movie in movies:
    print(movie)

Movies in the collection:
{'_id': 1, 'title': 'Inception', 'genre': 'Sci-Fi', 'actors': ['Leonardo DiCaprio', 'Joseph Gordon-Levitt']}
{'_id': 2, 'title': 'The Dark Knight', 'genre': 'Action', 'actors': ['Christian Bale', 'Heath Ledger']}
{'_id': 3, 'title': 'Interstellar', 'genre': 'Sci-Fi', 'actors': ['Matthew McConaughey', 'Anne Hathaway']}
{'_id': 4, 'title': 'The Shawshank Redemption', 'genre': 'Drama', 'actors': ['Tim Robbins', 'Morgan Freeman']}
{'_id': 5, 'title': 'The Godfather', 'genre': 'Crime', 'actors': ['Marlon Brando', 'Al Pacino']}
{'_id': 6, 'title': 'Pulp Fiction', 'genre': 'Crime', 'actors': ['John Travolta', 'Uma Thurman']}
{'_id': 7, 'title': 'The Matrix', 'genre': 'Sci-Fi', 'actors': ['Keanu Reeves', 'Laurence Fishburne']}
{'_id': 8, 'title': 'Forrest Gump', 'genre': 'Drama', 'actors': ['Tom Hanks', 'Robin Wright']}
{'_id': 9, 'title': 'Fight Club', 'genre': 'Drama', 'actors': ['Brad Pitt', 'Edward Norton']}
{'_id': 10, 'title': 'Avatar', 'genre': 'Fantasy', 'actors': ['Sam Worthington', 'Zoe Saldana']}
{'_id': 11, 'title': 'Titanic', 'genre': 'Romance', 'actors': ['Leonardo DiCaprio', 'Kate Winslet']}
{'_id': 12, 'title': 'Gladiator', 'genre': 'Action', 'actors': ['Russell Crowe', 'Joaquin Phoenix']}
{'_id': 13, 'title': 'The Avengers', 'genre': 'Action', 'actors': ['Robert Downey Jr.', 'Chris Evans']}
{'_id': 14, 'title': 'The Lion King', 'genre': 'Animation', 'actors': ['Matthew Broderick', 'James Earl Jones']}
{'_id': 15, 'title': 'Saving Private Ryan', 'genre': 'War', 'actors': ['Tom Hanks', 'Matt Damon']}
{'_id': 16, 'title': 'Joker', 'genre': 'Drama', 'actors': ['Joaquin Phoenix', 'Robert De Niro']}
{'_id': 17, 'title': 'The Lord of the Rings: The Fellowship of the Ring', 'genre': 'Fantasy', 'actors': ['Elijah Wood', 'Ian McKellen']}
{'_id': 18, 'title': 'Star Wars: A New Hope', 'genre': 'Sci-Fi', 'actors': ['Mark Hamill', 'Harrison Ford']}
{'_id': 19, 'title': 'Black Panther', 'genre': 'Action', 'actors': ['Chadwick Boseman', 'Michael B. Jordan']}
{'_id': 20, 'title': 'Spider-Man: No Way Home', 'genre': 'Action', 'actors': ['Tom Holland', 'Zendaya']}
{'_id': 21, 'title': 'Dune', 'genre': 'Sci-Fi', 'actors': ['Timothée Chalamet', 'Zendaya']}
{'_id': 22, 'title': 'Mad Max: Fury Road', 'genre': 'Action', 'actors': ['Tom Hardy', 'Charlize Theron']}
{'_id': 23, 'title': 'The Martian', 'genre': 'Sci-Fi', 'actors': ['Matt Damon', 'Jessica Chastain']}
{'_id': 24, 'title': 'John Wick', 'genre': 'Action', 'actors': ['Keanu Reeves']}
{'_id': 25, 'title': 'Blade Runner 2049', 'genre': 'Sci-Fi', 'actors': ['Ryan Gosling', 'Harrison Ford']}
{'_id': 26, 'title': 'Thor: Ragnarok', 'genre': 'Action', 'actors': ['Chris Hemsworth', 'Tom Hiddleston']}
{'_id': 27, 'title': 'Gravity', 'genre': 'Sci-Fi', 'actors': ['Sandra Bullock', 'George Clooney']}
{'_id': 28, 'title': 'The Equalizer', 'genre': 'Action', 'actors': ['Denzel Washington']}

In [8]:
# Fetch and print all users
users = users_collection.find()
print("Users in the collection:")
for user in users:
    print(user)

Users in the collection:
{'_id': 1, 'name': 'Alice Johnson', 'email': 'alice.j@example.com', 'watched': [1, 2, 3]}
{'_id': 2, 'name': 'Bob Smith', 'email': 'bob.s@example.com', 'watched': [3, 4, 5]}
{'_id': 3, 'name': 'Charlie Brown', 'email': 'charlie.b@example.com', 'watched': [6, 7, 8]}
{'_id': 4, 'name': 'Diana Prince', 'email': 'diana.p@example.com', 'watched': [9, 10, 11]}
{'_id': 5, 'name': 'Ethan Hunt', 'email': 'ethan.h@example.com', 'watched': [12, 13, 14]}
{'_id': 6, 'name': 'Fiona Carter', 'email': 'fiona.c@example.com', 'watched': [15, 16, 17]}
{'_id': 7, 'name': 'George Miller', 'email': 'george.m@example.com', 'watched': [18, 19, 20]}
{'_id': 8, 'name': 'Hannah Lee', 'email': 'hannah.l@example.com', 'watched': [1, 4, 7]}
{'_id': 9, 'name': 'Ian Wright', 'email': 'ian.w@example.com', 'watched': [2, 5, 8]}
{'_id': 10, 'name': 'Jessica Green', 'email': 'jessica.g@example.com', 'watched': [3, 6, 9]}
{'_id': 11, 'name': 'Kevin Adams', 'email': 'kevin.a@example.com', 'watched': [10, 13, 16]}
{'_id': 12, 'name': 'Laura King', 'email': 'laura.k@example.com', 'watched': [11, 14, 17]}
{'_id': 13, 'name': 'Michael Scott', 'email': 'michael.s@example.com', 'watched': [12, 15, 18]}
{'_id': 14, 'name': 'Nina Brooks', 'email': 'nina.b@example.com', 'watched': [19, 20, 1]}
{'_id': 15, 'name': 'Oscar Blake', 'email': 'oscar.b@example.com', 'watched': [2, 3, 4]}
{'_id': 16, 'name': 'Pamela Reed', 'email': 'pamela.r@example.com', 'watched': [5, 6, 7]}
{'_id': 17, 'name': 'Quincy Taylor', 'email': 'quincy.t@example.com', 'watched': [8, 9, 10]}
{'_id': 18, 'name': 'Rachel Adams', 'email': 'rachel.a@example.com', 'watched': [11, 12, 13]}
{'_id': 19, 'name': 'Steve Rogers', 'email': 'steve.r@example.com', 'watched': [14, 15, 16]}
{'_id': 20, 'name': 'Tina Brooks', 'email': 'tina.b@example.com', 'watched': [17, 18, 19]}

# Neo4j Data Setup and Data insertion

In [8]:
from neo4j import GraphDatabase

In [9]:
# Neo4j Connection
NEO4J_URI = "neo4j+s://fe67dae3.databases.neo4j.io" 
NEO4J_AUTH = ("neo4j", "f2clXhFExbRIiyLciwAzVcpt_1uGVAqHZ6Kw5u-lymc") 
neo4j_driver = GraphDatabase.driver(NEO4J_URI, auth=NEO4J_AUTH)

In [17]:
# Function to populate Neo4j with MongoDB data
def populate_neo4j_from_mongo():
    # Fetch all movies from MongoDB
    movies = list(movies_collection.find({}, {"_id": 0, "title": 1, "genre": 1, "actors": 1}))
    
    with neo4j_driver.session() as session:
        for movie in movies:
            title = movie["title"]
            genre = movie["genre"]
            actors = movie["actors"]
            
            # Create movie nodes
            session.run(
                """
                MERGE (m:Movie {title: $title, genre: $genre})
                """,
                title=title,
                genre=genre,
            )
            
            # Create actor nodes and relationships
            for actor in actors:
                session.run(
                    """
                    MERGE (a:Actor {name: $actor})
                    MERGE (a)-[:ACTED_IN]->(m:Movie {title: $title})
                    """,
                    actor=actor,
                    title=title,
                )

# Run the population function
populate_neo4j_from_mongo()

In [10]:
# Add new movies to Neo4j
with neo4j_driver.session() as session:
    for movie in new_movies:
        session.run(
            """
            CREATE (m:Movie {id: $id, title: $title, genre: $genre})
            """,
            id=movie["_id"],
            title=movie["title"],
            genre=movie["genre"]
        )
print("New movies added to Neo4j.")

New movies added to Neo4j.

In [14]:
# Add new movies to Neo4j
with neo4j_driver.session() as session:
    for movie in additional_movies:
        session.run(
            """
            CREATE (m:Movie {id: $id, title: $title, genre: $genre})
            """,
            id=movie["_id"],
            title=movie["title"],
            genre=movie["genre"]
        )
print("New movies added to Neo4j.")

New movies added to Neo4j.

In [11]:
# Function to test relationships and queries
def test_queries():
    with neo4j_driver.session() as session:
        # Test: Fetch all movies and their actors
        print("Movies and their Actors:")
        movies_and_actors = session.run(
            """
            MATCH (a:Actor)-[:ACTED_IN]->(m:Movie)
            RETURN a.name AS Actor, m.title AS Movie
            """
        )
        for record in movies_and_actors:
            print(f"{record['Actor']} acted in {record['Movie']}")

        # Test: Fetch movies by genre
        genre = "Sci-Fi"  # Replace with the genre you want to test
        print(f"\nMovies in the genre '{genre}':")
        movies_by_genre = session.run(
            """
            MATCH (m:Movie {genre: $genre})
            RETURN m.title AS Movie
            """,
            genre=genre,
        )
        for record in movies_by_genre:
            print(record["Movie"])

In [12]:
test_queries()

Movies and their Actors:
Leonardo DiCaprio acted in Inception
Leonardo DiCaprio acted in Titanic
Joseph Gordon-Levitt acted in Inception
Christian Bale acted in The Dark Knight
Heath Ledger acted in The Dark Knight
Matthew McConaughey acted in Interstellar
Anne Hathaway acted in Interstellar
Tim Robbins acted in The Shawshank Redemption
Morgan Freeman acted in The Shawshank Redemption
Marlon Brando acted in The Godfather
Al Pacino acted in The Godfather
John Travolta acted in Pulp Fiction
Uma Thurman acted in Pulp Fiction
Keanu Reeves acted in The Matrix
Laurence Fishburne acted in The Matrix
Tom Hanks acted in Forrest Gump
Tom Hanks acted in Saving Private Ryan
Robin Wright acted in Forrest Gump
Brad Pitt acted in Fight Club
Edward Norton acted in Fight Club
Sam Worthington acted in Avatar
Zoe Saldana acted in Avatar
Kate Winslet acted in Titanic
Russell Crowe acted in Gladiator
Joaquin Phoenix acted in Gladiator
Joaquin Phoenix acted in Joker
Robert Downey Jr. acted in The Avengers
Chris Evans acted in The Avengers
Matthew Broderick acted in The Lion King
James Earl Jones acted in The Lion King
Matt Damon acted in Saving Private Ryan
Robert De Niro acted in Joker
Elijah Wood acted in The Lord of the Rings: The Fellowship of the Ring
Ian McKellen acted in The Lord of the Rings: The Fellowship of the Ring
Mark Hamill acted in Star Wars: A New Hope
Harrison Ford acted in Star Wars: A New Hope
Chadwick Boseman acted in Black Panther
Michael B. Jordan acted in Black Panther
Tom Holland acted in Spider-Man: No Way Home
Zendaya acted in Spider-Man: No Way Home

Movies in the genre 'Sci-Fi':
Inception
Interstellar
The Matrix
Star Wars: A New Hope
Dune
The Martian
Blade Runner 2049
Gravity

In [ ]:
# Close the Neo4j connection
neo4j_driver.close()

# Setting up Redis and populate with users watch history from mongodb data

In [20]:
import redis

In [21]:
# Redis Connection Details
redis_host = "redis-13496.c44.us-east-1-2.ec2.redns.redis-cloud.com"  # Hostname of your Redis instance
redis_port = 13496  # Port number
redis_password = "zCF8PWvWx10Llqe5udewQ71xHy6GANsA"  # Password

# Connect to Redis
try:
    redis_client = redis.StrictRedis(
        host=redis_host,
        port=redis_port,
        password=redis_password,
        decode_responses=True  # Ensures data is returned as strings
    )
    # Test the connection
    redis_client.ping()
    print("Connected to Redis Cloud!")
except Exception as e:
    print(f"Error connecting to Redis: {e}")

Connected to Redis Cloud!

In [22]:
# Function to populate Redis with user watch history
def populate_redis_with_watch_history():
    # Fetch all users from MongoDB
    users = list(users_collection.find({}, {"_id": 1, "watched": 1}))

    for user in users:
        user_id = user["_id"]
        watched_movies = user["watched"]

        # Store watch history in Redis as a key-value pair
        redis_client.set(f"watched:{user_id}", ','.join(map(str, watched_movies)))

    print("Redis populated with user watch history.")

In [23]:
populate_redis_with_watch_history()

Redis populated with user watch history.

In [26]:
# Function to retrieve and test watch history from Redis
def test_redis_watch_history(user_id):
    # Fetch watch history from Redis
    watch_history = redis_client.get(f"watched:{user_id}")
    if watch_history:
        # Convert the Redis value (string) into a list of movie IDs
        movie_ids = list(map(int, watch_history.split(',')))
        print(f"User {user_id}'s watch history (movie IDs): {movie_ids}")

        # Fetch movie titles from MongoDB using the already defined `db` variable
        movies = list(db["movies"].find({"_id": {"$in": movie_ids}}, {"_id": 0, "title": 1}))
        movie_titles = [movie["title"] for movie in movies]
        print(f"User {user_id}'s watch history (movie titles): {movie_titles}")
    else:
        print(f"No watch history found for user {user_id}.")

In [27]:
# Call the function
test_redis_watch_history(1)

User 1's watch history (movie IDs): [1, 2, 3]
User 1's watch history (movie titles): ['Inception', 'The Dark Knight', 'Interstellar']